.taskContainer {
    background-color: rgba( 0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 1em 0.5em;
    margin-bottom: 0.5em;
}
.txt {
    padding: 0.3em;
    background-color: rgba( 0, 0, 0, 0.1);
    color: black;
    border-radius: 5px;
    margin-bottom: 1em;
}

select option {
    background-color: rgba( 0, 0, 0, 0.1);
    color: black;
}

.taskState {
    margin-bottom: 1em;
    background-color: rgba( 0, 0, 0, 0.1);
}

.task {
    margin-bottom: 0.5em;
}

