.TaskList {
    padding: 1em;
    background-color: #5797b9;
    border-radius: 5px;
}

.TaskList .title {
    padding: 1em;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
}

.TaskList .content {
    padding: 16px 4px;
    display: flex;
    flex-direction: column;
}

.TaskList .content .empty-list {
    padding: 0.6em;
    border: 1px dashed #FFF;
    align-items: center;
    border-radius: 4px;
}

.TaskList .btn {
    margin-top: 8px;
    padding: 8px;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    background-color: #00B8d4;
    cursor: pointer;
}

.TaskList .btn img {
    width: 17px;
    height: 17px;
    margin-right: 4px;
}
