.TaskList {
    padding: 1em;
    background-color: #5797b9;
    border-radius: 5px;
}

.TaskList .title {
    padding: 1em;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
}

.TaskList .content {
    padding: 16px 4px;
    display: flex;
    flex-direction: column;
}
